@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat';
}

:root {
  --primary: #f7f6f2;
}

.embla__container {
  display: flex;
}

.embla__slide {
  height: 580px;
  width: 100vw;
}